<div class="container">
  <div class="d-flex flex-column align-items-center border border-2 border-secondary rounded-3"
    style="width: 100％; margin: 10% 15%;">
    <div>
      <h2 class="text-center mt-5 mb-3">URL Shortener</h2>
      <img class="mt-3 mb-3" style="width: 180px;"
        src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="image">
    </div>
    {{#if shortUrl}}
    <div class="mt-5 mb-5">
      <h3 class="text-center">Success! Your shortURL :</h3>
      <p id="generatedURL" class="text-center mt-4" style="color: blue;">{{host}}/{{shortUrl}}</p>
      <div class="text-center">
        <button class="btn btn-primary" onclick="copy()">Copy</button>
      </div>
    </div>
    {{else}}
    <div class="mt-5 mb-5">
      <form action="/" method="POST" class="input-group">
        <input class="form-control" type="url" name="originURL" placeholder="Input URL here..." style="width: 400px;"
          required>
        <button class="btn btn-outline-primary" type="submit">Shorten</button>
      </form>
    </div>
    {{/if}}
  </div>
</div>

<script>
  const copy = () => {
    const generatedURL = document.getElementById('generatedURL')
    navigator.clipboard.writeText(generatedURL.innerText)
      .then(() => {
        console.log('success');
      })
      .catch(error => {
        console.error('error:', error);
      });
  }
</script>